{{ ansible_managed | comment }}

# Bash Prompt Customizations
if [ $(id -u) -eq 0 ];
then # you are root, make your username Red
  PS1="\[$(tput sgr0)\]\[$(tput bold)\]\[\033[38;5;196m\]\u\[$(tput sgr0)\]\[\033[38;5;15m\]@\h-\[$(tput sgr0)\]\[\033[38;5;14m\]{{ region | upper() }}\[$(tput sgr0)\]\[\033[38;5;15m\] \[$(tput bold)\]\[$(tput sgr0)\]\[$(tput bold)\]\[\033[38;5;{{ defined_prompt['color'] }}\]|{{ defined_prompt['short_name'] | upper() }}|\[$(tput sgr0)\]\[$(tput sgr0)\]\[\033[38;5;15m\]:\n\[$(tput sgr0)\]\[\033[38;5;6m\][\w]\[$(tput bold)\]\[$(tput sgr0)\]\[\033[38;5;46m\]>\[$(tput sgr0)\]\[$(tput sgr0)\]\[\033[38;5;15m\] \[$(tput sgr0)\]"
elif [ $(id -u) -le 100 ]; then
  return
{% if prompt_ignore_users is defined and prompt_ignore_users|length > 0 %}
{% for ignore_user in prompt_ignore_users %}
elif [ $(whoami) = "{{ ignore_user }}" ]; then
  return
{% endfor %}
{% endif %}
else
  PS1="\[$(tput sgr0)\]\[$(tput bold)\]\[\033[38;5;11m\]\u\[$(tput sgr0)\]\[\033[38;5;15m\]@\h-\[$(tput sgr0)\]\[\033[38;5;14m\]{{ region | upper() }}\[$(tput sgr0)\]\[\033[38;5;15m\] \[$(tput bold)\]\[$(tput sgr0)\]\[$(tput bold)\]\[\033[38;5;{{ defined_prompt['color'] }}\]|{{ defined_prompt['short_name'] | upper() }}|\[$(tput sgr0)\]\[$(tput sgr0)\]\[\033[38;5;15m\]:\n\[$(tput sgr0)\]\[\033[38;5;6m\][\w]\[$(tput bold)\]\[$(tput sgr0)\]\[\033[38;5;46m\]>\[$(tput sgr0)\]\[$(tput sgr0)\]\[\033[38;5;15m\] \[$(tput sgr0)\]"
fi
